{% extends 'layout.html' %}
{% load static %}
{% block body %}
    <section class="container mt-5">
    <h2 class="text-center mb-4">About Me</h2>

    <div class="row">

        <div class="col-md-4 mb-4">
            <img src="{% static 'images/Passport.jpg' %}" alt="" width="400" height="250" class="img-fluid">
        </div>

        <div class="col-md-8">
                        <p>My name is Ms Joan chebet,iam outgoing, dedicated, and open-minded. I get across to people and adjust to changes with ease. I believe that a person should work on developing their professional skills and learning new things all the time.</p>
        </div>
    </div>



</section>
{% endblock %}